.container {
  width: 788px;
}

body {
  background: #202020;
  background-image:url(/images/bg_gradient.png);
  background-repeat:repeat-x;
}

header {
  padding-top: 20px;
}

header img {
  padding: 1em;
}

p {
	color:#D7D7D7;
}

#main {
  border-right: 2px solid #222;
  border-bottom: 2px solid #222;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #343434;
  border: 2px solid #999;
}

section h1 {
  font-size: 200%;
  color:#fff;
  text-shadow: 1px 1px 1px #d2d2d2;
}

/* Links */

a {
  color: #6E3A7D;
  text-decoration: none;
}

a:hover {
  color: #D596E9;
  text-decoration: underline;
}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: #343434;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
  color:#BABE5E;
}

nav ul li a:visited {
  color: #BABE5E;
}

nav ul li a:hover {
  text-decoration: underline;
  color:#FFF;
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 290px;
  color: #6E3A7D;
  background: #242424;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
  border-style:solid;
  border-width:3px;
  border-color:#6E3A7D;
}

a.signup_button:hover {
	color: #D596E9;
	background: #6E3A7D;
	border-color:#242424;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

footer {
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

/* Debug styling */
.debug_dump {
  color: #343434;
}
