<h1>Sample App</h1>
<p>
  This is the <b>home page</b> for Rankida's sample application.
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<br/>
<h1>Some more about me</h1>
<p>
	I need some more text to fill up the home pages so that I can make changes to the css, so I thought I would type a bit about myself. So here it goes.
</p>
<p>My name is David Rankin and I work as a software engineer at Spartan Solutions Ltd.</p>
<p>I graduated from Glasgow University in 2007 with a 1st Class MEng in Electronic and Software Engineering.</p>